.flex{
  background-color:#00c7ce;
  height:50vh;
  padding:10px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:row;
}

.flex>div{
  background-color:#fff;
  margin:5px;
  font-size:30px;
}

.flex > div:nth-child(1) {
  order: 3;
}
.flex > div:nth-child(2) {
  order: 4;
}
.flex > div:nth-child(3) {
  order: 1;
}
.flex > div:nth-child(4) {
  order: 2;
}

.flex > div {
  flex: 2;
  flex: 10em;
  flex: 30%;
  flex: 2 2;
  flex: 2 2 10%;
}